@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 13% 10%;
    --foreground: 210 40% 98%;
    --card: 220 13% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 346 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 19% 27%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 346 100% 58%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}